a {
    text-decoration: none;
  }

.MediaInfo h2,h3 {
    color: black;
}
  
  .MediaInfoCard {
    font-family: 'Manrope', sans-serif;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom:3em;
    border-radius: 10px;
    background-color: #ffff;
    padding: 1.8rem;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
  }

  .image-container {
    height: 16.66rem;
    margin-bottom: 1rem;
    background-image: '';
  }
  
  .title {
    text-align: center;
    font-weight: bold;
    margin: 0;
  }
  .title a{
    color: #000;
  }
  .subtitle a,.forget-pass{
    text-align: center;
    font-weight: bold;
    color: #cca353;
  }
  .subtitle{
    text-align: center;
  }
  .btn-text {
    margin: 0;
  }