.Media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0 0.5rem 2.3rem 0.5rem;
    box-shadow: 0 0 transparent, 0 0 transparent, 0px 7px 35px rgba(180, 189, 223, 0.4); 
    padding: 0.8em;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .Media:hover {
    box-shadow: 0 10px 20px 4px rgba(35, 35, 35, 0.1);
  }
  
  .Media .image-container {
    height: 16.66rem;
    margin-bottom: 1rem;
  }
  
  .Media h2 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
  }
  
  .Media-information {
    display: flex;
    justify-content: space-between;
  }
  
  .Media-information p {
    font-size: .88rem;
    font-weight: 300;
    line-height: 1rem;
    margin: 0;
  }
  
  .Media-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Media-reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }
  
  .Media-reviews h3 {
    color: #ffff11;
    font-weight: 600;
    margin: 0;
  }
  
  .Media-reviews .rating {
    font-size: .88rem;
    line-height: 1rem;
    text-align: left;
  }