.footer {
    background-color: #f7f7f7;
    color: #6E7072;
    padding: 4em 1rem;
    font-size: 14px;
    font-weight: lighter;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;

}

.footer-column{
    padding: 1rem;
    margin: 0 auto;
}
.footer-column p{
    margin: 20px 0;
    
}
.footer-column p:hover{
    text-decoration: underline;
    transition: all 0.3s;
    cursor: pointer;
}
.footer-heading {
    margin: 0;
    font-weight: bold;
    margin: 20px 0;
}

.footer-link {
    color: #6E7072;
    text-decoration: none;
    margin: 1rem 0;
    display: block;

}

/* scrollbar */
/* styles.css */
body::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #6d6d6d;
  -webkit-border-radius: 10px;
    border-radius: 10px;
}