.Landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../../../public/bookshelf.jpg');
}

<<<<<<< HEAD
.Landing h1, h2, h3 {
=======
.Landing h1, h3 {
>>>>>>> origin/backend
    color: white;
}
